Repository HYF-Class19/agile-devlopment-group-3, pull requests merged in 2022-07, with the labels that each got.

#3 Add project structure folders and files
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/retrospective.md
  planning/user-personas.md
Labels: planning

#7 update the branch name to 1-communication-plan-john
  planning/communication-plan.md
Labels: planning, communication

#9 update communication plan and add hayko amalikyan daily timing
  planning/communication-plan.md
Labels: planning, communication

#10 add communication-plan-anas
  .vscode/settings.json
  planning/communication-plan.md
Labels: planning, communication

#15 update of my communication-plan
  planning/communication-plan.md
Labels: planning, communication

#14 Zeynep's communication-plan
  planning/communication-plan.md
Labels: planning, communication

#20 add some files to .gitignor
  .gitignore
Labels: planning

#22 add README.md
  README.md
Labels: planning, communication

#29 Update readme
  README.md
  Screenshot1.png
Labels: Screenshot, Updating

#28 third user-persona added
  planning/user-personas.md
Labels: user-persona

#30 edit of our constrains
  planning/constraints.md
Labels: planning, communication

#36 User personas
  planning/user-personas.md
Labels: user-persona, Updating

#33 correct the missing photo and add some minor info
  images/constraints.jpg
  planning/constraints.md
Labels: bug, planning

#24 created contact and technologies sections
  README.md
Labels: contact, technologies

#40 draw the site design
  planning/design.md
  planning/images/wireframe.png
  planning/images/wireframe.svg
Labels: planning, Design

#38 write the site Backlog
  planning/backlog.md
Labels: planning, Backlog

#37 User persona
  planning/constraints.md
  planning/user-personas.md
Labels: user-persona

#43 1 user persona
  README.md
Labels: documentation, planning, communication, user-persona

#44 modifying development-strategy.md
  planning/development-strategy.md
Labels: planning, Development Strategy

#47 editing retrospective.md
  planning/retrospective.md
Labels: planning, restrospective
